/* Aplica a todos los elementos */
* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* Título principal */
h1 {
  text-align: center;
  font-weight: bold;
}

/* Imagen con ID 'photo' */
#photo {
  width: 8vw;
  height: auto;
}

/* Subtítulos con clase 'subtitle' */
.subtitle {
  color: rgb(151 156 165 / 0.89);
  text-transform: uppercase;
}

/* Estilos generales */
body {
  margin: 40px;
  background-color: #f4f4f4;
  color: #333;
  line-height: 1.6;
}

section {
  margin-top: 4px;
  margin-right: 2px;
  margin-left: 2px;
  margin-bottom: 1.2rem; /* margen inferior con 1.2 veces el tamaño raíz */
  
  border: 0.2pt solid #cedddd;
  
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  padding-right: 0.8%;
  padding-left: 0.8%;
}

ul {
  padding-left: 20px;
}

strong {
  color: #000;
}

/* <p> descendiente de <footer>: alinear texto a la derecha y en itálica */
footer p {
  text-align: right;
  font-style: italic;
}

/* <ul> hija inmediata de <nav>: eliminar viñetas */
nav > ul {
  list-style: none;
  margin: 0;
  padding: 0;
}



